# Capivara Pay - Self-Hosted Environment Variables

# Porta do Servidor API
PORT=5000

# Provedor Pix Ativo: 'mock' (testes locais) ou 'mercadopago' (produção)
PIX_PROVIDER=mock

# Autenticação da sua API
API_KEY=cap_live_sec_88f912a
API_SECRET=cap_sk_live_9921b77a

# Mercado Pago Credentials (Se PIX_PROVIDER=mercadopago)
# Obtenha em: https://www.mercadopago.com.br/developers/panel/app
MERCADOPAGO_ACCESS_TOKEN=APP_USR-seu-token-aqui

# URL de Webhook Padrão para Notificação de Pagamentos
DEFAULT_WEBHOOK_URL=http://localhost:5000/api/v1/webhooks/demo
